@import "~scss/_colors";

/*
 * Core
 */

.filters-core {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filters-core__content {
  flex: 1 1 auto;
  padding-bottom: 20px;
}

/*
 * Basic
 */

.filter {
  padding: 10px;
  .el-alert {
    margin-bottom: 15px;
  }
}

.filter-title {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  margin-bottom: 15px;
  border-left: 5px solid $primary;
}

/*
 * Columns
 */

.filter-columns {
  .el-checkbox-group {
    margin-bottom: 10px;
  }
  .el-checkbox.is-bordered {
    display: flex;
    align-items: center;
  }
}

/*
 * Search
 */

//

/*
 * TableButtons
 */

.filter-table-buttons {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

/*
 * Pagination
 */

.filter-pagination__circles {
  display: flex;
}

/*
 * Fixed
 */

.filter-fixed {
  .el-select {
    width: 100%;
  }
}

/*
 * Action
 */

.filter-action {
  .el-button {
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      > i {
        margin-right: 5px;
      }
    }
    + .el-button {
      margin-left: 0;
    }
  }
}
