@import "~scss/_colors";

.template-page {
  display: flex;
  flex-direction: row;
  > .left-column,
  > .right-column {
    overflow: auto;
  }
  > .left-column {
    flex: 1 1 auto;
  }
  > .right-column {
    min-width: 300px;
    width: 300px;
    border-left: 1px solid $defaultBorder;
  }
}
